/*barra de navegación*/
nav {
    background-color: #d3dbdd;
    overflow: hidden;
    height: 100px;
}
.logo img {
    height: 40px;
    width: 40;
    position: relative;
    top: 50px;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    display: block;
    color: #ab8d5c; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #74283d;
    color: #fff; 
}
/*header*/
.header {
    background-image: url(../img/Para_blog.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-cont h1 {
    margin: 0;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 6em;
    color: #ffffffb4; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#carouselExampleInterval{
    margin-top: 80px;
}

.titulo2{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -45px;

}

#card-cont{
    margin-top: 100px;
}
.card {
    margin-top: 20px;
}