body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

/*barra de navegación*/
nav {
    background-color: #d3dbdd;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    display: block;
    color: #ab8d5c; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #74283d;
    color: #fff; 
}

/*header*/
.header {
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-cont h1 {
    margin: 0;
    font-family: "Pacifico", cursive;
    font-size: 6em;
    color: #fffffffd; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/*estilos de la card*/
.centered-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.card{
    border: none;
    box-shadow: none;
}

.card-body {
    text-align: center; 
    margin-top: 70px;
}

.card-title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 3em;

}
.card img{
    width: 300px;
    height: 350px;
}

/*carrusel*/
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    width: 900px;
    height: 500px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
  
section img:hover{
    cursor: default;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

