<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festividades</title>
</head>
<body>
    <!--barra de inicio-->
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./historia.html">Historia</a></li>
            <li><a href="./Festividades.html">Festividades</a></li>
            <li><a href="#">Donde comer</a></li>
        </ul>
    </nav>
</body>
</html>